body {
	margin: 0px;
	scrollbar-arrow-color     : #ffffff;
	scrollbar-face-color      : #A77833;
	scrollbar-highlight-color : #A77833;
	scrollbar-shadow-color    : #A77833;
	scrollbar-track-color     : #CAE7FA;
}

body.frame {
	background: #CAE7FA;
	border: 0px;
}

body.flash {
	background: #0099FF;
	border: 0px;
}