body {
	background-color: #230127;
	margin: 0;
	padding: 0;
	color: #333;
	font-family: "Arial, sans-serif";
	font-size: 12px;
}

#outerwrapper {
	height:800px;
}

#flashcontent {
	margin: 0 auto;
	height: 600px;
}

#footer{
	vertical-align:middle;
	text-align:center;
	background: transparent url( '../images/footer/background.gif' ) no-repeat 0 0;
	width:822px;
	height:88px;
	margin: 0 auto 0 auto;
	padding-top:1px;
}

#copyright{
	text-align:center;
	width:823px;
	margin: 9px auto 30px auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #663d65;
}

a img {
	border: none;
}